.login-area {
    position: absolute;
    left: 80%;
    top: 50%;
    transform: translate(-50%, -70%);
    width: 20%;
    border: 1px solid #eee;
    padding: 20px;
    box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 10px;
    background: #ccc;
    opacity: 0.8;
}
.login-icon {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    background: tomato;
}
.login-bg {
    z-index: -1;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.login-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #000;
    opacity: 0.5;
    color: #fff;
}
ul {
    width: 100%;
    padding: 0;
    margin: 0;
    line-height: 50px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}
li {
    padding: 0 20px;
}